{{!--
<div id="jumbo" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Go Play!</h1>
        <p class="lead">Something Inspirational Goes Here!</p>
    </div>
</div> --}}

<div id="homeContainer" class="container p-5 mb-5" style="">

    <div id="" class="row buttonBox">
        <div class="col-md-12 text-center">
            <h5 class="formHead">Your Events</h5>
            {{!-- <h3>Select an event you're interested in or create a new one, or not.</h3> --}}
        </div>
    </div>
    <br>

    <div id="" class="row buttonBox">
        <div class="col-md-12 text-center">
            <button onclick="window.location.href='/home'" href="/addevent" id="homeCreate" type="button" class="btn btn-primary" role="button">
                See all available events
            </button>
        </div>
    </div>
    <br>
    






    <div id="" class="row">
            {{#each events}}
            <div class="card" style="width: 18rem;">
                <img src={{this.eventPhoto}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 id="homeCardTitle" class="card-title">
                        {{this.eventName}}
                    </h5>
                    <hr>
                    <p class="card-text">
                        {{this.eventDescription}}
                    </p>
                    <p class="card-text">
                       {{this.eventLocationName}} - {{this.eventCity}}, {{this.eventState}} {{this.eventZip}}
                    </p>
                    <div class="text-center mt-3 mb-1">
                        <button href="" type="button" class="btn btn-warning unregisterBtn" data-eventID={{this.eventID}} data-userID={{../user.userID}}>Unregister</button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>


    </div>


</div>